@charset "utf-8";
/* CSS Document */

.margin{width:1200px; margin:0 auto;}

#top{height:80px;}
#top .top-t{height:80px;}
#top .top-t .top-t-l{float:left;padding:18px 142px 18px 18px;overflow:hidden; }
#top .top-t .top-t-l img{width:44px;height:44px;}

#axia{position:relative;}
#axia .xia2{width:210px;height:60px;line-height:60px;display:none;background:#fff;font-size:12px; text-align:center;position:absolute;top:24px;right:-18px; z-index:1000;box-shadow: 0 0 5px #000; }


#bxia{position:relative;}
#bxia .xia1{width:130px;height:100px;display:none;background:#fff;font-size:12px; text-align:center;position:absolute;top:24px;right:-30px; z-index:1000;box-shadow: 0 0 5px #000; }
#bxia .xia1 h3{width:110px;height:40px;margin:10px 10px 0 10px;line-height:40px;}
#bxia .xia1 h4{width:110px;height:40px;margin:0 10px 10px 10px;line-height:40px;}
#bxia .xia1 h3:hover{background:#ccc;color:red;}
#bxia .xia1 h4:hover{background:#ccc;}
#bxia .xia1 h3:hover a{color:#000;}
#bxia .xia1 h4:hover a{color:#000;}


#top .top-t .top-t-c{float:left;width:790px;overflow:hidden;text-align:center;}
#top .top-t .top-t-c li{float:left;width:28px; height:75px; padding:0 30px;}
#top .top-t .top-t-c li a{color:#7E7E7E; font:14px/80px "";}
#top .top-t .top-t-c li:hover{ border-bottom:5px solid #F00;color:#000;}
#top .top-t .top-t-c li:hover a{color:#000;}
#top .top-t .top-t-c .te{width:66px; height:75px;margin-left:88px;}
#top .top-t .top-t-r{float:right;width:198px;height:50px;padding-top:30px; }

#top .top-t .top-t-r li{height:50px;float:left;padding:0 20px;}
#top .top-t .top-t-r ul li:nth-child(1)>a{display:block; float:left;width:24px;height:24px; background:url(../images/17.png) no-repeat left top; background-position:0 -22px}
#top .top-t .top-t-r ul li:nth-child(1)>a:hover{background-position:0 -46px}
#top .top-t .top-t-r ul li:nth-child(2)>a{display:block; float:left;width:24px;height:24px; background:url(../images/17.png) no-repeat left top; background-position:0 -152px;}
#top .top-t .top-t-r ul li:nth-child(2)>a:hover{background-position:0 -176px}
#top .top-t .top-t-r ul li:nth-child(3)>a{display:block; float:left;width:24px;height:24px; background:url(../images/17.png) no-repeat left top; background-position:0 -230px;}
#top .top-t .top-t-r ul li:nth-child(3)>a:hover{background-position:0 -256px}

#subnav{text-align: center;background:#f1f1f1;padding:40px 0 25px;width:100%;height:95px;margin:0 auto;}
#subnav ul{color:#10181f;height:95px;width:100%;}
#subnav ul li{height:95px;width:115px;display: inline-block;}
#subnav ul li a i{vertical-align:middle;margin-bottom:25px;display: inline-block;text-align:center; border-radius:50%;}
#subnav ul li:nth-child(1) i{width:41px;height:41px; background:#ccc url(../images/26.png) no-repeat center; background-position:0 -451px;}
#subnav ul li a:hover :nth-child(1) i:hover{background-position:3px -82px;}
#subnav ul li:nth-child(1) a:hover i{background-position:3px -82px;}
#subnav ul li:nth-child(2) i{ width:41px;height:41px; background:#ccc url(../images/26.png) no-repeat left top; background-position:0 -41px;}
#subnav ul li:nth-child(2) a:hover i{background-position:0 0;}
#subnav ul li:nth-child(3) i{ width:41px;height:41px; background:#ccc url(../images/26.png) no-repeat left top; background-position:0 -287px;}
#subnav ul li:nth-child(3) a:hover i{background-position:0 -246px;}
#subnav ul li:nth-child(4) i{ width:41px;height:41px; background:#ccc url(../images/26.png) no-repeat center; background-position:0 -205px}
#subnav ul li:nth-child(4) a:hover i{background-position:0 -164px}
#subnav ul li:nth-child(5) i{ width:41px;height:41px; background:#ccc url(../images/26.png) no-repeat left top; background-position:0 -123px;}
#subnav ul li:nth-child(5) a:hover i{background-position:0 -82px}
#subnav ul li:nth-child(6) i{width:41px;height:41px; background:#ccc url(../images/26.png) no-repeat left top; background-position:0 -369px;}
#subnav ul li:nth-child(6) a:hover i{background-position:0 -328px;color:#F00;}
#subnav ul li a span{display:block;float:left;width:100%;}
#subnav ul li a:hover{color:#F00;}

#box{width:100%;height:700px;top:0; left:0;position:relative;}

#main{height:300px;}
#main ul{float:left;width:100%;overflow:hidden;}
#main ul li{height:300px;float:left;width:33.33%;overflow:hidden;}
#main ul li img{height:300px;width:100%;display:block;transition:.3s;}
#main ul li:hover img{transform:scale(1.02,1.02);}

#nav{height:506px;background:url(../images/05.jpg) no-repeat  center;text-align:center;width:100%;}
#nav h3{width:100%;height:48px;font-size:48px;color:#fff;padding-top:160px;}
#nav p{ border:2px #fff solid;height:42px;width:10%;margin:48px 0 0 45%; transition:.5s;-webkit-transition:.5s;-moz-transition:.5s;transition:.5s;}
#nav p a{font:14px/42px "";color:#fff;z-index:2px;}
#nav p:hover a{color:#000;}
#nav p:hover{ background-color:#fff;}

#news{height:538px;background-color:#f6f6f6;overflow: hidden;}
#news .news-t{width:100%;height:538px;}
#news .news-t ul{float:left;overflow: hidden;width:100%;}
#news .news-t ul li{float:left;padding-top:83px;-webkit-transition:.5s;width:29%; margin-left:3%;-moz-transition:.5s;transition:.5s;}
#news .news-t ul li:last-child{margin-right:0;}
#news .news-t ul li:hover{transform: scale(1.03);}
#news .news-t ul li img:hover{box-shadow: 0 0 5px #000;}
#news .news-t ul li img{display:block;width:100%;height:240px;}
#news .news-t ul li .news-l{width:100%;height:134px;background-color:#fff;}
#news .news-t ul li .news-l h4{line-height: 34px;font-size: 18px;color:#333;padding-top:23px;padding-left:6%;}
#news .news-t ul li .news-l p{font-size: 14px;color:#333;padding-left:6%;}

#wrop{height:183px;border-bottom:1px solid #CCC;width:100%;}
#wrop .wrop-t ul{float:left;overflow:hidden;width:100%;}
#wrop .wrop-t ul li{float:left;height:114px;padding:35px 0;width:25%;}
#wrop .wrop-t ul li a{display:block;height:114px;width:100%;}
#wrop .wrop-t ul li a img{display:block;height:80px;width:25%;margin-left:38%; transition:.3s;}
#wrop .wrop-t ul li:hover img{transform: scale(1.03);}
#wrop .wrop-t ul li a span{font-size:12px;padding-top:15px;display:block;width:100%;margin-left:38%;}

#footer{height:395px;}
#footer .footer-d{height:290px;overflow:hidden;}
#footer .footer-d .footer-t{float:left;padding-top:70px}
#footer .footer-d .footer-t .footer-t-l-t{float:left;width:240px;height:160px;}
#footer .footer-d .footer-t .footer-t-l .footer-t-l-t p{height:40px;width:240px;float:left;font-size:18px;}
#footer .footer-d .footer-t .footer-t-l .footer-t-l-t ul{float:left;}
#footer .footer-d .footer-t .footer-t-l .footer-t-l-t ul li{height:30px;width:240px;}
#footer .footer-d .footer-t .footer-t-l .footer-t-l-t ul li a{font:14px/30px "";color:#999;}
#footer .footer-d .footer-t .footer-t-l .footer-t-l-t ul li a:hover{color:#333;}

#footer .footer-d .footer-t .footer-t-r{float:right;height:103px;width:214px;}
#footer .footer-d .footer-t .footer-t-r a{display:block;font:600 30px/30px "";width:214px;float:right;}
#footer .footer-d .footer-t .footer-t-r p{height:50px;border:1px solid #000;float:right;margin-top:20px;}
#footer .footer-d .footer-t .footer-t-r p a{font-aize:14px;text-align:center;}

#footer .footer-b{background:#f6f6f6;height:103px;}
#footer .footer-b .footer-b-t{padding: 20px 0px 0px;height:83px;color:#333;text-align:center;}
#footer .footer-b .footer-b-t .footer-b-t-a{padding-right:24px;}
#footer .footer-b .footer-b-t .footer-b-t-b{padding-right:24px;}
#footer .footer-b .footer-b-t .footer-b-t-d{padding:10px 10px;}








